<template>
   <div>

       <!-- Start Main Banner Area -->
       <div class="home-slides owl-carousel owl-theme">
           <div class="main-banner item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
               <div class="d-table">
                   <div class="d-table-cell">
                       <div class="container">
                           <div class="banner-content">
                               <h1>Help Bring The Change We Need</h1>
                               <p>It is enough that the people know there was an election. The people who cast the votes decide nothing. The people who count the votes decide everything.</p>

                               <a href="#" class="default-btn">Join With Us</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="main-banner item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
               <div class="d-table">
                   <div class="d-table-cell">
                       <div class="container">
                           <div class="banner-content">
                               <h1>Help Bring The Change We Need</h1>
                               <p>It is enough that the people know there was an election. The people who cast the votes decide nothing. The people who count the votes decide everything.</p>

                               <a href="#" class="default-btn">Join With Us</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="main-banner item-bg3 jarallax" data-jarallax='{"speed": 0.3}'>
               <div class="d-table">
                   <div class="d-table-cell">
                       <div class="container">
                           <div class="banner-content">
                               <h1>Help Bring The Change We Need</h1>
                               <p>It is enough that the people know there was an election. The people who cast the votes decide nothing. The people who count the votes decide everything.</p>

                               <a href="#" class="default-btn">Join With Us</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Main Banner Area -->



       <!-- Start Boxes Area -->
       <section class="boxes-area">
           <div class="container">
               <div class="row">
                   <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="single-box">
                           <div class="icon">
                               <i class="flaticon-money"></i>
                           </div>

                           <h3>Economical Stability</h3>

                           <p>Lorem ipsum dolor sit consectetua dipiscing elit sed do eiusmod.</p>

                           <a href="#" class="details-btn"><i class="flaticon-right-arrow"></i></a>
                       </div>
                   </div>

                   <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="single-box">
                           <div class="icon">
                               <i class="flaticon-tax"></i>
                           </div>

                           <h3>Tax Reform</h3>

                           <p>Lorem ipsum dolor sit consectetua dipiscing elit sed do eiusmod.</p>

                           <a href="#" class="details-btn"><i class="flaticon-right-arrow"></i></a>
                       </div>
                   </div>

                   <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                       <div class="single-box">
                           <div class="icon">
                               <i class="flaticon-university"></i>
                           </div>

                           <h3>Educational Institution</h3>

                           <p>Lorem ipsum dolor sit consectetua dipiscing elit sed do eiusmod.</p>

                           <a href="#" class="details-btn"><i class="flaticon-right-arrow"></i></a>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       <!-- End Boxes Area -->

   </div>
</template>
