.myButton {
    background-color:#44c767;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-style:italic;
    padding:13px 42px;
    text-decoration:none;
    text-shadow:0px 1px 13px #2f6627;
}
.myButton:hover {
    background-color:#5cbf2a;
}
.myButton:active {
    position:relative;
    top:1px;
}
